/**
 * Syntax highlighting styles
 */

pre {
    font-family: 'Menlo', 'open-sans', monospace;
    font-size: 0.7em;
    line-height: 1.7em;
    background-color: #f5f6f9;
    padding: 1em 1em 1em 1.5em;
    border-radius: 7px;
	border-color: #e1e2ff;
	border-width: 2px;
	border-style: dotted;
	box-shadow: -3px 3px 8px #d2d6dd;
}

.highlight
{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	
    .hll {
      background-color: #ffffcc; }
    .c {
      color: #60a0b0;
      font-style: italic; }
    .err {
      border: 1px solid #FF0000; }
    .k {
      color: #007020;
      font-weight: bold; }
    .o {
      color: #666666; }
    .cm {
      color: #60a0b0;
      font-style: italic; }
    .cp {
      color: #007020; }
    .c1 {
      color: #60a0b0;
      font-style: italic; }
    .cs {
      color: #60a0b0;
      background-color: #fff0f0; }
    .gd {
      color: #A00000; }
    .ge {
      font-style: italic; }
    .gr {
      color: #FF0000; }
    .gh {
      color: #000080;
      font-weight: bold; }
    .gi {
      color: #00A000; }
    .go {
      color: #808080; }
    .gp {
      color: #c65d09;
      font-weight: bold; }
    .gs {
      font-weight: bold; }
    .gu {
      color: #800080;
      font-weight: bold; }
    .gt {
      color: #0040D0; }
    .kc, .kd, .kn {
      color: #007020;
      font-weight: bold; }
    .kp {
      color: #007020; }
    .kr {
      color: #007020;
      font-weight: bold; }
    .kt {
      color: #902000; }
    .m {
      color: #40a070; }
    .s, .na {
      color: #4070a0; }
    .nb {
      color: #007020; }
    .nc {
      color: #0e84b5;
      font-weight: bold; }
    .no {
      color: #60add5; }
    .nd {
      color: #555555;
      font-weight: bold; }
    .ni {
      color: #d55537;
      font-weight: bold; }
    .ne {
      color: #007020; }
    .nf {
      color: #06287e; }
    .nl {
      color: #002070;
      font-weight: bold; }
    .nn {
      color: #0e84b5;
      font-weight: bold; }
    .nt {
      color: #062873;
      font-weight: bold; }
    .nv {
      color: #bb60d5; }
    .ow {
      color: #007020;
      font-weight: bold; }
    .w {
      color: #bbbbbb; }
    .mf, .mh, .mi, .mo {
      color: #40a070; }
    .sb, .sc {
      color: #4070a0; }
    .sd {
      color: #4070a0;
      font-style: italic; }
    .s2 {
      color: #4070a0; }
    .se {
      color: #4070a0;
      font-weight: bold; }
    .sh {
      color: #4070a0; }
    .si {
      color: #70a0d0;
      font-style: italic; }
    .sx {
      color: #c65d09; }
    .sr {
      color: #235388; }
    .s1 {
      color: #4070a0; }
    .ss {
      color: #517918; }
    .bp {
      color: #007020; }
    .vc, .vg, .vi {
      color: #bb60d5; }
    .il {
      color: #40a070; }
}
	  