$color-bg:					#f7f7f7;
$color-fg:					#474747;
$color-fg-bold:				#4c4c4c;
$color-fg-light:			#999;
$color-accent-bg:			#37c0fb;
$color-accent-fg:			#fff;
$color-border:				#e0e0e0;

$size-radius:				5px;