<div id="sidebar">

	<!-- Sidebar -->
	<!-- {% for post in site.posts offset: 0 limit: 2 %}
		<section>
			<h3>{{ post.title }}</h3>
			{{ post.excerpt }}
			<footer>
				<a href="{{ site.baseurl }}{{ post.url }}" class="button">Continue Reading</a>
			</footer>
		</section>
	{% endfor %} -->

	<!-- tag count -->
	<div class="tag-box inline">
	{% assign tags_list = site.categories %}
	  {% if tags_list.first[0] == null %}
	    {% for tag in tags_list %}
	      <a href="#{{ tag }}">{{ tag | capitalize }} <span class="tag-item">{{ site.tags[tag].size }}</span></a>
	    {% endfor %}
	  {% else %}
	    {% for tag in tags_list %}
	      <a href="#{{ tag[0] }}" class="tag-item"><b>{{ tag[0] | capitalize }}</b> x{{ tag[1].size }}</a>
	    {% endfor %}
	  {% endif %}
	{% assign tags_list = nil %}
</div>

	<!-- section list -->
	{% for tag in site.categories %}
	<div class="tag-box">
	  <h3 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
	  <ul class="post-list">
	    {% assign pages_list = tag[1] %}
	    {% for post in pages_list %}
	      {% if post.title != null %}
	      {% if group == null or group == post.group %}
	      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
			  <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></li>
	      {% endif %}
	      {% endif %}
	    {% endfor %}
	    {% assign pages_list = nil %}
	    {% assign group = nil %}
	  </ul>
	</div>
	{% endfor %}
	
</div>


