---
title: Blog
layout: default
---

<section class="wrapper style1">
	<div class="container">
		<div class="row double">
			<div class="8u">
				<div id="content">
					
					<h3>Recent entries:</h3>

					<!-- show latest post -->
					{% for post in site.posts offset:0 limit:5 %}
					<article class="blog-summary">
						<header>
							<a href="{{ site.baseurl }}{{ post.url }}"><h2>{{ post.title }}</h2></a>
							<p>{{ post.date | date_to_string }}</p>
						</header>							
						<div>
						{{ post.excerpt }} ...					
						</div>							
					</article>
					{% endfor %}
									
				</div>
			</div>
			<div class="4u">
				{% include sidebar.html %}
			</div>
		</div>
	</div>
</section>			
